<section data-ng-controller="PostsController" data-ng-init="find()">
	<div>
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
		<div class="form-group">
			<div class="col-md-10">
				{{global.user.name}} just <span><input type="text" class="form-control" data-ng-model="text" id="text" placeholder="did something involving drinking" required>.</span>
			</div>
		</div>
	</form>
	</div>
	<ul class="posts unstyled">
		<li data-ng-repeat="post in posts">
			<span>{{post.created | date:'medium'}}</span> /
			<span>{{post.user.name}} just <a data-ng-href="#!/posts/{{post._id}}">{{post.text}}</a><span data-ng-show="editing" data-ng-include="'/views/posts/edit.html'"></span>.</span>
			<div data-ng-show="global.user._id == post.user._id">
		        <a class="btn" ng-click="toggleEdit($event)">
		        	<i class="glyphicon glyphicon-edit"></i>
		        </a>
		        <a class="btn" data-ng-click="remove();">
		            <i class="glyphicon glyphicon-trash"></i>
		        </a>
		    </div>
		</li>
	</ul>
</section>