.navbar .nav>li>a.navbar-brand {
    padding-left:20px;
    margin-left:0;
    font-size: 30px;
}

.navbar .nav>li>a {
    font-size: 15px;
    line-height:60px;
    padding-top:0;
    padding-bottom:0;
}

.content {
    margin-top:70px;
    width:100%
}

.navbar-nav > li > a.dropdown-toggle {
    padding-right: 15px;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.facebook-login {
    background-image: url(../img/facebook_login.png);
    background-size: contain;
    height: 45px;
    width: 138px;
    right: 15px;
    top: 3px;
}

.prof-pic {
    border-radius: 25%;
    margin-right:10px;
}