<section data-ng-controller="GamesController" data-ng-init="find()">
	<div class="create-new">
		<form action="#!games/create">
    		<input type="submit" class="btn" value="Add a game!">
		</form>
	</div>
	<ul class="games unstyled">
		<li data-ng-repeat="game in games">
			<span>{{game.created | date:'medium'}}</span> /
			<span>{{game.user.name}}</span>
			<h2><a data-ng-href="#!/games/{{game._id}}">{{game.title}}</a></h2>
			<div><b>Description:</b>  {{game.description}}</div>
    		<div><b>Rules:</b>  {{game.rules}}</div>
		</li>
	</ul>
	<h1 data-ng-hide="!games || games.length">No games yet. <br> Why don't you <a href="/#!/games/create">Create One</a>?</h1>
</section>